################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Chat.Web/bin
/Chat.Web/obj/Debug
/packages
